.details-container {
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper-characters {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  background: url("../img/captain\ america.jpg") center/cover;
}
.container {
  /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 10px; */
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 50px; */
}

.character-description {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  width: 300px;
  height: 100px;
  text-align: center;
  padding-top: 15px;
}
.character-name {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-character {
  margin-bottom: 20px;
  object-fit: fill;
  border: 1px solid white;
  width: 160px;
  height: 160px;
}
.paginate-characters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.red {
  background-color: red;
}
.gray {
  background-color: gray;
}
@media screen and (max-width: 740px) {
  .wrapper-characters {
    grid-template-columns: 1fr;
  }
  .container {
  }
  .paginate-characters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    max-width: 700px;
    width: 100%;
  }
}
