.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.894);
}
header button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.52);
  color: white;
  margin: 10px;
}

.input-search {
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.input-search:focus {
  outline: none;
}
.header-logo img {
  margin: 1rem 1rem;
  width: 100px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}
.nav-link {
  display: flex;
  width: 15%;
  /* align-items: center; */
}
.menu {
  display: flex;
  align-items: center;
}
.menu-container {
  display: flex;
}
.nav-bar {
  display: none;
}
@media screen and (max-width: 940px) {
  .header-container {
    background-color: black;
    height: 80px;
  }

  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .input-search {
    display: none;
  }
  header button {
    display: flex;
    display: none;
  }
  .nav-link ul {
    display: none;
  }

  .nav-bar {
    display: flex;
    padding: 1rem;
    border: 2px solid orange;
    background-color: black;
    color: #ffffff;
  }
  .nav-bar.nav-link {
    display: block;
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
}
