.login-container {
  background-image: url("../img/personnage_de_fiction.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding-left: 40px;
  gap: 30px;
}

.login-container input {
  padding: 5px;
  width: 300px;
  height: 40px;
}
.login-container h1 {
  text-align: center;
}

.red {
  background-color: red;
}
.gray {
  background-color: gray;
}
.login-btn {
  background-color: red;
  color: white;
  font-weight: 30px;
}
