.signup-container {
  background-image: url("../img/captain\ america.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  align-items: flex-start;
  height: 100vh;
  gap: 30px;
}

.signup-container h1 {
  text-align: center;
}
.signup-container input {
  height: 40px;
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
  padding: 5px;
}
.signup-container input :focus {
  outline: none;
}
form p {
  color: white;
  text-decoration: none;
}
.signup-btn {
  margin-top: 15px;
  background-color: red;
  color: white;
}
